<!DOCTYPE html>


<html>

<link rel="stylesheet" href="/index.css">

<form id = "form" action="/verify" method="post">
    <div id = "holder">
        <input type="text" id = "VerificationBox" placeholder="Enter 2FA Code" name="verificationCode" required>

        <button id = "Confirm" type="submit">
            Confirm
        </button>

    </div>
    

</form>



</html>